<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS布局 - 未知高度和宽度元素水平垂直居中</title>

    <style>
        /*
            解决方案：
            将设置元素绝对定位，并且设置transform的translate为Ｘ，Ｙ轴同时移动-50%即可
        */
        div {
            width: 300px;
            height: 300px;
            background-color: #cccccc;
            color: #FF0000;
        }

        .item{
            top:50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <!--
        居中类型；水平垂直居中（已知元素的高度和宽度）
        居中元素：
    -->

    <div class="item">
        居中类型；水平垂直居中（未知元素的高度和宽度）
    </div>
</body>
</html>