<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS布局 - Clear属性</title>

    <style>
        div{
            border: 1px solid #ff0000;
            padding: 10px;
            margin: 10px;
        }

        .floatDiv{
            float: left;
            border: 1px solid orange;
            width: 200px;
        }

        /*定义去除浮动*/
        .clearDiv{
            clear: left;
        }

    </style>
</head>
<body>
    <div class="floatDiv">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem reiciendis et vero nisi. Temporibus autem alias voluptatibus quasi vitae doloribus quos minima veritatis consequuntur asperiores repudiandae doloremque dolorum consectetur? Incidunt aliquid obcaecati molestias quibusdam modi possimus molestiae voluptatum tenetur cumque recusandae excepturi laboriosam error officia quia vero impedit optio veritatis.
    </div>
    <div class="clearDiv">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi non laboriosam similique rem qui soluta ipsam libero optio porro dolorem. Quisquam velit nulla dolorem officiis possimus numquam nihil deserunt autem alias repudiandae consequatur dicta iusto beatae voluptas nostrum. Quo nam in veniam eius aut optio deleniti similique voluptatibus iste delectus doloremque quibusdam. Iure velit dolores cum rem nemo odio veniam.
    </div>
</body>
</html>